//
// Statusbar
//

.editor-statusbar {
  color: $color-text-muted;
  font-family: $font-family;
  font-size: 14px;
  padding: $width-gap-half $width-gap;
  text-align: right;
}

.editor-statusbar span {
  display: inline-block;
  margin-left: 1em;
}

.editor-statusbar .lines::before {
  content: '行数：';
}

.editor-statusbar .words::before {
  content: '词数：';
}

.editor-statusbar .characters::before {
  content: '字数：';
}
